*{
    padding: 0;
    margin: 0;
   
}

/* Color Primary */
.primary{
    color: red;
}
/* Menu Styles */
.nav-container{
    display: flex;
    padding: 35px;
    justify-content: space-around;
    background-color: gray;
    color: white;
    
    
}
.items{
    display: flex;
    list-style: none;
    font-size: 30px;
    font-weight: 900;
        
}
.item{
    margin-right: 25px;
    padding: 5px;
    
}
/* Banner Styles */

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/image/background.jpg),
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: darken;
    text-align: center;
    padding-top: 150px;
    color: white;
}
.banner-title{
    font-size: 150px;
    font-weight: 900;
}
.description{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 50%;
    margin: auto;
    padding: 10px;
    
}
.btn{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    margin: 5px;

}
.btn-discover{
    background-color: red;
    color: white;
}
.btn-hire{
    background-color: white;
    color: red;
    
}


